[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
pywavelets = "*"
pytorch-wavelets = {ref = "master", git = "https://github.com/fbcotter/pytorch_wavelets.git"}
matplotlib = "*"
tqdm = "*"
lightgbm = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
